<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body >

<form ng-controller="ExampleRestCtrl" ng-submit="query()" class="form-horizontal">
    <h3>Example Rest</h3>
    <div class="form-actions">
        <button class="btn btn-primary">Search</button>
        <button class="btn btn-primary" ng-click="add()">Add</button>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>lastName</th>
                    <th>email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in documents">
                <td>{{row._id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.lastName}}</td>
                <td>{{row.email}}</td>
                <td><span class="glyphicon glyphicon-edit" ng-click="edit($index)"></span>
                    <span class="glyphicon glyphicon-trash" ng-click="remove($index)"></span></td>

            </tr>
            </tbody>
        </table>

    </div>

    <div style="border:solid 1px blue;padding: 5px;margin: 5px;">
            <h3>Document Detail</h3>
            <div class="control-group">
                <label for="documentId">Id</label>
                <span id="documentId">{{document._id}}</span>
            </div>
            <div class="control-group">
                <label for="name">Name</label>
                <input type="text" id="name" ng-model="document.name"/>
            </div>

            <div class="control-group">
                <label for="lastName">LastName</label>
                <input type="text" id="lastName" ng-model="document.lastName"/>
            </div>

            <div class="control-group">
                <label for="email">Email</label>
                <input type="text" id="email" ng-model="document.email"/>
            </div>

            <div class="form-actions">
                <button class="btn btn-primary" ng-click="save()">Save</button>
            </div>
    </div>

</form>

</body>
</html>
